<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width" />
		<link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet" />
		<title>Testando App Com Bootstrap</title>
	</head>
	<body>
		<h1>Testando Aplicação com Bootstrap!</h1>
		<div class="alert alert-primary" role="alert">
			Isso é um teste com o framework Bootstrap :)
		</div>
	</body>
</html>